.wrap-main-blocks {
  display: flex;
  max-width: 998px;
  margin: 0 auto;
  padding: 0 16px;
}

.products-wrap-navigation {
  max-width: 1031px;
  width: 100%;
  margin: 40px auto 47px;
  padding: 0 16px;
}

@media (max-width: 768px) {
  .products-wrap-navigation {
    display: none;
  }
  .wrap-main-blocks {
    padding: 0 25px;
  }
}


@media (max-width: 360px) {
  .wrap-main-blocks {
    padding: 0 16px;
  }
}
