.products-poster {
  padding: 70px 0 80px 25px;
  max-width: 200px;
  margin-top: 60px;
  &__headline {
    color: var(--white);
    text-transform: uppercase;
    margin-bottom: 58px;
    line-height: 26px;
    font-size: 20px;
  }
  &__href {
    border: 2px solid var(--white);
    color: var(--white);
    text-decoration: none;
    padding: 13px 11px;
    text-transform: uppercase;
    font-weight: 700;
  }
}
