.products-complete-work {
  margin-top: 180px;
  &__headline {
    font-weight: 700;
    margin: 0 0 25px;
    font-size: 16px;
  }
  &__img {
    width: 200px;
    border-radius: 10px;
  }
  &__text {
    font-size: 14px;
    margin: 15px 0 0;
    max-width: 215px;
    line-height: 20px;
  }
}
