.request-pros {
  &__text {
    margin: 11px 0 0;
  }
}

//@media (max-width: 768px) {
//  .request-description {
//    margin-left: 2px;
//  }
//}

@media (max-width: 670px) {
  .request-pros {
    width: 100%;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
