.request-call {
  background: var(--request-back);
  padding: 30px 0 98px;
  margin: 105px 0 0;

  &__headline {
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    margin: 0 0 43px;
    color: var(--white);
    text-align: center;
  }
}

.wrap-inputs-request {
  display: flex;
  justify-content: center;

  &__input {
    max-width: 240px;
    width: 100%;
    margin-right: 19px;
  }
  &__button {
    max-width: 240px;
    width: 100%;
    .btn {
      line-height: 45px;
      font-size: 14px;
    }
  }
}

@media (max-width: 768px) {
  .request-call {
    padding: 46px 0 110px 10px;
    margin-top: 56px;
    &__headline {
      margin: 0 0 29px;
    }
  }

  .wrap-inputs-request {
    flex-wrap: wrap;
    width: 100%;

    &__input,
    &__button {
      max-width: 800px;
    }

    &__input {
      margin: 0 0 20px 0;
    }
    &__button {
      margin-top: 10px;
    }
  }
}

@media (max-width: 360px) {
  .request-call {
    padding: 33px 0 130px;
    margin-top: 0;

    &__headline {
      margin: 0 0 29px;
      font-size: 30px;
      text-align: left;
    }
  }
}
