.products-right-block {
  &__wrap-buttons {
    display: flex;
    margin: 66px 0 51px;
  }
  &__headline {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin: 0 0 44px;
    color: var(--black);
  }
  &__wrap-request {
    display: flex;
    max-width: 540px;
    justify-content: space-between;
    margin-bottom: 52px;
  }
  &__wrap_slider {
    display: flex;
  }
}

.products-wrap-button {
  margin-right: 3px;
}

@media (max-width: 768px) {
  .products-right-block {
    &__wrap_slider {
      margin-top: 29px;
    }
  }
}

@media (max-width: 670px) {
  .products-right-block {
    &__wrap-buttons {
      display: flex;
      margin: 52px 0 50px;
      flex-wrap: wrap;
    }
    &__wrap-request {
      max-width: 670px;
      flex-wrap: wrap;
    }
    &__wrap_slider {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .products-wrap-button {
    margin: 0 0 5px 0;
    width: 100%;
    .btn {
      text-align: left;
    }
  }
}
