include ../footer/footer-bottom
include contacts-footer-top
//include ../components/

mixin contactsFooter
  .footer
    .wrap-footer-top
      +contactsFooterTop()
    .wrap-footer-bottom
      +footerBottom()
