include ../../ui/input
include ../../ui/button

mixin contactsForm
  .contacts-form
    h2.contacts-form__headline Заказать звонок
    form
      .contacts-form__input
        label(for='name').contacts-form-label Ваше имя
          span &#32;*
        +inputElem('text', 'Например, Иван Иванов', 'name', className)
      .contacts-form__input
        label(for='phone').contacts-form-label Телефон
          span &#32;*
        +inputElem('text', 'Например, Иван Иванов', 'phone', className)
      .contacts-form__input
        label(for='email').contacts-form-label Ваш E-mail
          span &#32;*
        +inputElem('text', 'Например, Иван Иванов', 'email', className)
      .contacts-form__textarea
        label(for='message').contacts-form-label Сообщение
          span &#32;*
        textarea(id='message')
      .contacts-form__wrap-button
        +btn('Отправить', null, 'button_blue')
    p.contacts-form__warning * - поля, обязательные для заполнения
