mixin btn(text, href, className)
  if href === null
    button(class= className + ' btn')= text
  else
    a(class= className + ' btn', href= href)= text

    //mixin btn(text, href, img)
    //  if href === null
    //    button.btn= text
    //  else
    //    if img === null
    //      a(class='btn', href= href)= text
    //    else
    //      a(class='btn', href= href)= text
