mixin completedWorksElem(img, text, href)
  .completed-works-elem
    img(src= img, class='completed-works-elem__img')
    //p.completed_works_elem__text= text
    a(class='completed-works-elem__text', href='/')= text
