mixin concreteView(img, name, href)
  .concrete-view(style=`background: url("${img}") repeat;`)
    .concrete-view__wrap-text-arrow
      .concrete-wrap-text
        h2.concrete-wrap-text__name Бетон
        p.concrete-wrap-text__type= name
      .wrap-arrow
        a(href='/').arrow-href
          img(src='../../images/arrow-right.png').arrow-href__img

          //wrap-text_concrete
