mixin concreteView(img, name, href)
  .concrete-view(style=`background: url("${img}") repeat;`)
    .concrete-view__wrap-text-arrow
      .wrap-text_concrete
        h2.wrap-text_concrete__name Бетон
        p.wrap-text_concrete__type= name
      a(href= href).arrow-link
        img(src = '../../images/arrow-right.png', class="arrow")


        //no-repeat
