mixin newsElem(href, date, text, img, className)
    a(href= href, class= className, style=`background: url("${img}") no-repeat; background-size: cover`)
      .news-elem-back
      .wrap-text-news
        p.wrap-text-news__date= date
        p.wrap-text-news__text= text
    //img(src='../../images/blue.png', class='news-elem-back') //center center
