mixin newsElem(date, text, img, className)
  div(class= className, style=`background: url("${img}") repeat;`)
    .wrap-text-news
      p.wrap-text-news__date= date
      p.wrap-text-news__text= text
    //img(class='news-elem__img', src= src)
