mixin social()
  .social
    a(href="https://vk.com/")
      img(src="../../images/social-vk.png")
    a(href="https://www.youtube.com/")
      img(src="../../images/social-youtube.png")
    a(href="https://www.youtube.com/")
      img(src="../../images/social-inst.png")
