.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--beige);

  &__top {
    padding: 18px 0 19px 0;
    background: var(--grey-light);
  }

  &__middle {
    display: flex;
    padding: 11px 16px 16px;
    align-items: center;
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
  }

  &__bottom {
    position: sticky;
    top: 0;
  }
}

.header-phones {//phones
  display: flex;
  max-width: 1250px;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-between;

  &__button {
    display: none;
    margin-top: 4px;
    width: 100%;
    .btn {
      height: 45px;
      line-height: 45px;
      font-size: 18px;
    }
  }
}


.wrap-social-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 496px;
}

.wrap-buttons {
  display: flex;
  width: 346px;
  justify-content: space-around;
}

.mobile-menu {
  display: none;
}

//.wrap-logo {
//  flex-grow: 1;
//}

.wrap-logo {
  flex-grow: 1;
  &__big-logo {
    display: block;
  }
  &__mobile-logo {
    display: none;
    align-items: center;
  }
}
.wrap-button {
  &:first-child {
    margin-right: 13px;
  }
}
.header-wrap-buttons  {
  display: flex;
  width: 100%;
  max-width: 346px;
  &__call {
    width: 176px;
    margin-right: 13px;
  }

  &__price {
    max-width: 157px;
    height: 40px;
    width: 100%;
    .btn {
      line-height: 36px;
    }
  }
}

@media (max-width: 1249px) {
  .header-phones { //phones
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 0 16px;
  }
  .wrap-social-button {
    margin-right: 32px;
  }
}

@media (max-width: 768px) {
  .wrap-social-button {
    margin-left: auto;
    width: auto;
  }
  .header-wrap-buttons {
    display: none;
  }

  .header {
    &__top {
      background: none;
      padding: 0 0 9px 0;
      margin-top: 9px;
    }
    &__middle {
      padding: 0;
      margin: 0;
      order: -1;
    }
    &__bottom {
      display: none;
    }
  }
  .header-phones {
    display: flex;
    margin-top: 0; //main margin-top: 5px;
    max-width: 768px;

    &__button {
      display: flex;
    }
  }

  .mobile-menu {
    cursor: pointer;
    display: flex;
    margin-right: 10px;
  }
}

@media (max-width: 480px) {
  .header {
    &__top {
      padding: 0 0 5px 0;
      margin-top: 5px; //employess 5px //main 0
    }
    &__middle {
      box-shadow: 0 0 15px #DEDEDE;
    }
  }
  .wrap-social-button {
    display: none;
    width: 80px;
    height: 80px;
  }
  .mobile-menu {
    display: flex;
    width: 45px;
    height: 45px;
  }
  .header-phones {

    &__button {
      margin-top: -3px;
      width: 100%;
      .btn {
        height: 33px;
        line-height: 33px;
        font-size: 14px;
      }
    }
  }
}
