.header.header-without-phone {
  display: flex;
  flex-direction: column;
  width: 100%;
  .header-with-phone-phone {
    display: none;
  }
  .header-wrap-buttons {
    max-width: 356px;
    width: 100%;
  }
  .wrap-social-button {
    display: none;
    max-width: 356px;
    & > .social {
      display: none;
    }
  }
}

.phones {
  display: flex;
  max-width: 1250px;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-between;
}

.wrap-buttons {
  display: flex;
  max-width: 346px;
  width: 100%;
  justify-content: space-around;
}

.mobile-menu {
  display: none;
}

.wrap-logo {
  flex-grow: 1;
  .wrap-logo__big-logo {
    display: block;
  }
  .wrap-logo__mobile-logo {
    display: none;
    align-items: center;
  }
}

.wrap-button  {
  &:first-child {
    margin-right: 13px;
  }
}

.wrap-button_call {
  width: 176px;
}

.wrap-button_price {
  max-width: 157px;
  height: 40px;
  width: 100%;
  .btn {
    line-height: 36px;
  }
}

@media (max-width: 1251px) {
  .phones {
    padding: 0 16px;
  }
}

@media (max-width: 768px) {
  .wrap-social-button {
    margin-left: auto;
    width: auto;
  }
  .wrap-buttons {
    display: none;
  }
  .header.header-without-phone {
    display: flex;

    .header__top {
      display: none;
    }
  }
  .header.header-without-phone {
    display: flex;
    //header__top {
    //  display: none;
    //}
    //header__middle {
    //  padding: 0;
    //  margin: 0 auto;
    //}
    .header-with-phone-phone {
      display: flex;
      margin-right: 55.43px;
    }
  }

  .header {
    .header__middle {
      padding: 0;
      margin: 0;
      order: -1;
    }
    .header__bottom {
      display: none;
    }
  }
  .mobile-menu {
    cursor: pointer;
    display: flex;
    margin-right: 10px;
  }
  .wrap-social-button {

    & > .social {
      display: flex;
    }
  }
}

@media (max-width: 480px) {
  .header.header-without-phone {
    .header-with-phone-phone {
      display: flex;
      margin-right: 16.43px;
    }
  }
  .wrap-social-button {
    display: none;
    width: 80px;
    height: 80px;
  }
  .mobile-menu {
    display: flex;
    width: 45px;
    height: 45px;
  }
}
