.menu-footer {
  display: flex;
  flex-wrap: wrap;
  margin: 1px 0 0 9px;
  max-width: 531px;

  &__elem {
    width: 50%;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: var(--white);
    text-decoration: none;
    margin-bottom: 20px;
    &:hover {
      opacity: 0.8;
    }
  }
}

.wrap-email-social {
  margin: 12px 0 0 0;
}

@media (max-width: 768px) {
  .menu-footer {

    &__elem {
      font-size: 16px;
      margin-bottom: 15px;
    }
  }
}

@media (max-width: 360px) {
  .menu-footer {

    &__elem {
      width: 100%;
      font-size: 20px;//products // 18px - main
      margin-bottom: 14px;//products //margin-bottom: 11.5px;
    }
  }
  .wrap-email-social {
    &__email {
      margin-left: 8px;
    }
  }
}
