.menu-employees {
  display: flex;
  flex-direction: column;
  max-width: 264px;

  .menu-employees__elem_active {
    font-weight: 700;
  }
}

.menu-employees-elem {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: var(--blue);
  margin-bottom: 23px;
  text-decoration: none;
  display: flex;
  align-items: center;

  &__arrow {
    width: 5px;
    height: 10px;
    margin-right: 20px ;
  }

  &__text {
    margin: 0;
  }

  &:last-child {
    margin: 0;
  }
}

.menu-employees-elem_active {
  font-weight: 700;
}
