.menu-icon {
  cursor: pointer;
}

.wrap-menu-mob {
  width: 100vw;//width: 380px;
  min-height: 100vh;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);//var(--black);//background: var(--white);
  //opacity: 0.8;
  top: 80px;
  display: none;
  z-index: 8;
}

.menu-mob {
  background: var(--white);
  position: relative;
  display: flex;
  flex-direction: column;
  width: 380px;//
  z-index: 10;

  &__elem {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: var(--black);
    text-decoration: none;
    padding: 9px 0 9px 23px;
    margin: 3.5px 0 3.5px 0;
    position: relative;

    &:hover {
      background: var(--blue);
      color: var(--white);
      opacity: 0.8;

      .arrow svg {
        * {
          fill: var(--white);
        }
      }
    }
  }
}

.container-menu-elems {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  z-index: 12;
}

.arrow {
  content: '';
  margin: 0;
  position: absolute;
  width: 7px;
  height: 10.73px;
  right: 14.5px;
  top: 9px;
}


.wrap-phone {
  padding-top: 30px;
  margin-left: 23px;
  &:last-child {
    margin-bottom: 25px;
  }
  &:first-child {
    border-top: 1px solid var(--grey);
  }
  &:hover {
  }
}

.wrap-email {
  padding-top: 35px;
  margin-left: 23px;
  border-top: 1px solid var(--grey);
  margin-bottom: 39px;
}

.menu-mobile-social {
  display: none;
  margin: 0 0 25px 17px;
}

@media (max-width: 480px) {
  .wrap-menu-mob {
    //width: 320px;
    top: 45px;
  }

  .menu-mob {
    width: 320px;

    &__elem {
      font-size: 16px;
      line-height: 21px;
      padding: 10px 0 11px 17px;
      margin: 3.5px 0 3.5px 0;
    }
  }

  .menu-mobile-social {
    display: flex;
  }

  .arrow {
    right: 14.5px;
    top: 14px;
  }
}
