.wrap-completed-works {
  background: var(--black);
  padding: 100px 16px;
}

.completed-works {
  width: 100%;
  margin: 0 auto;
}

.header-works {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1250px;
  width: 100%;
  margin: 0 auto 69px;

  &__headline {
    font-weight: 700;
    font-size: 34px;
    line-height: 120%;
    color: var(--white);
    margin: 0;
  }
}

.swiper-container {
  display: flex;
  position: relative;
  box-sizing: border-box;
  width: 100%;

  .swiper-wrapper {
    display: flex;
    width: 100%;
  }
}

.slider {
  max-width: 1251px;
  padding: 0 52px;
  margin: 0 auto;
  position: relative;
}

.swiper-slide {
  display: flex;
}

.point-prev {
  margin-right: 31px;
  left: -12px;
  transform: rotate(180deg);
}

.point-next {
  margin-left: 28px;
  right: -10px;
}

.swiper-button {
  height: 33px;
  z-index: 3;
  cursor: pointer;
  position: absolute;
  top: 201px;
  & > svg {
    stroke: var(--black);
    fill: var(--white);
    opacity: 1;
  }
}

.swiper-button-disabled {
  & > svg {
    stroke: var(--white);
    fill: var(--black);
    opacity: 0.5;
  }
}

.wrap-completed-btn {
  display: none;
}

.wrap-button-all-works-completed {
  width: 190px;
  height: 46px;
  margin-right: 3px;
  & > .btn {
    line-height: 40px;
  }
}

@media (max-width: 768px) {
  .slider {
    padding: 0 40px 0 60px;
    margin: 0 auto;
    position: relative;
  }

  .wrap-completed-works {
    padding: 50px 16px;
  }

  .wrap-button-all-works-completed {
    display: none;
  }

  .swiper-button {
    height: 45px;
    top: 180px;
    & > svg {
      height: 45px;
      width: 45px;
    }
  }
  .header-works {
    margin: 0 auto 41px;
  }

  .wrap-completed-btn {
    width: 190px;
    display: flex;
    height: 46px;
    margin: 30px auto 0;
    & > .btn {
      line-height: 46px;
    }
  }

  .point-prev {
    left: 1px;
  }

  .point-next {
    right:  8px;
  }
}

@media (max-width: 600px) {
  .header-works {

    &__headline {
      font-size: 24px;
      margin: 0;
    }
  }
}

@media (max-width: 450px) {
  .wrap-completed-works {
    padding: 35px 16px;
  }
  .slider {
    padding: 0; //0 0 0 13px
  }
  .swiper-container {
    width: auto;
  }
  .header-works {
    margin: 0 auto 34px;
  }
  .swiper-button {
    top: 166px;
  }
  .point-prev {
    left: -7px;
  }

  .point-next {
    right: -7px;
  }
}
