.request-description {

  &__headline {
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    margin: 0 0 24px 0;
  }
  &__text {
    margin: 0 0 24px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
  }
}
