.main-slider {
  //max-width: 100%;
  width: 100%;
  position: relative;
  border-bottom: 20px solid #C4C4C4;
  overflow: hidden;
  .swiper-wrapper {
    display: flex;
    height: 550px;
  }
  .swiper-slide {
    max-width: 100%;
    width: 100%;
    min-width: 0;
    height: 550px;
    position: relative;

    justify-content: center;
    align-items: center;
    &__image {
      //max-width: 1920px;
      width: 100%;
      height: 550px;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.swiper-pagination {
  display: flex;
  align-items: center;
  position: absolute;
  //bottom: 30px;
  width: 100%;
  justify-content: center;
  padding-bottom: 22px;
}

.swiper-pagination-bullet.swiper-pagination__point {
  box-sizing: border-box;
  width: 6px;
  height: 6px;
  border: 1px solid var(--white);
  margin-right: 5px;
  display: inline-block;
  border-radius: 50px;
  cursor: pointer;
  background: none;
}

.swiper-pagination-bullet-active.swiper-pagination__point {
  width: 8px;
  height: 8px;
  background: var(--white);
}

.control-slider {
  position: absolute;
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 260px;
  z-index: 11;

  &__wrap-prev {
    margin-left: 200px;
    svg {
      transform: rotate(180deg);
    }
    cursor: pointer;
  }

  &__wrap-next {
    margin-right: 200px;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .main-slider {
    border-bottom: none;
    .swiper-wrapper {
      height: 330px;
    }
    .swiper-slide {
      height: 330px;
      &__image {
        height: 330px;
      }
    }
  }

  .control-slider {
    display: none;
    z-index: 5;
  }
  .swiper-pagination {
    padding-bottom: 13px;
  }
}

@media (max-width: 574px) {
  .main-slider {
    .swiper-wrapper {
      height: 184px;
    }
    .swiper-slide {
      height: 184px;
      &__image {
        height: 184px;
      }
    }
  }
  .swiper-pagination {
    display: none;
  }
}
