.wrap-information-slider {
  margin: 99px auto 0;
}

.information-slider {
  position: relative;

  &__block {
    opacity: 1;
    padding: 34px 48px 24px 42px;
    width: 520px;
    box-sizing: border-box;
    position: relative;
    z-index: 3;
    margin-bottom: 20px;
    height: 270px;
    margin-right: auto;
  }
  &__wrap-buttons {
    display: flex;
    width: 390px;
    justify-content: space-between;
  }
}

.information-slider-back {
  width: 520px;
  height: 270px;
  background: var(--black);
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.information-headline {
  font-weight: 400;
  font-size: 20px;
  color: var(--white);
  margin: 0;
}

.wrap-button-call-slider {
  width: 200px;
  height: 45px;
  & > .btn {
    line-height: 45px;
    font-size: 18px;
    font-weight: 300;
  }
}

.wrap-button-all-works-slider {
  width: 170px;
  height: 45px;
  & > .btn {
    line-height: 45px;
    font-weight: 300;
  }
}

.description-slider {
  display: flex;
  align-items: center;
  margin-top: 11px;

  &__text-prev {
    margin: 0 5px 0 0;
    font-weight: 300;
    font-size: 16px;
    color: var(--white);
  }

  &__text-big {
    margin: 0;
    font-weight: 700;
    font-size: 100px;
    color: var(--white);
    padding-bottom: 6px;
    border-bottom: 2.55px solid var(--white);
  }

  &__text-next {
    margin: 0 0 0 30px;
    font-weight: 300;
    font-size: 16px;
    color: var(--white);
  }
}

.number-slide {
  margin: 33px 0 0;

  &__coll {
    font-weight: 700;
    color: var(--white);
    font-size: 18px;
  }
  &__all-coll {
    color: var(--greys);
    font-size: 16px;
  }
}


@media (max-width: 768px) {
  .information-slider {
    display: none;
  }
}
