include ../../ui/button

mixin productsRequest
  .products-request
    h3.products-request__description Бетон М100 (В7,5) на гравии
    h2.products-request__price 3 000 руб/м³
    .products-request__wrap-button
      +btn('Отправить заявку', '/', 'button_rainbow')
