mixin productsSlider()
  .wrap-products-slider
    .products-slider
      .swiper-wrapper
        .swiper-slide
          img(class='swiper-slide__image', src='../../images/products-slide.png')
        .swiper-slide
          img(class='swiper-slide__image', src='../../images/products-slide.png')
        .swiper-slide
          img(class='swiper-slide__image', src='../../images/products-slide.png')
        .swiper-slide
          img(class='swiper-slide__image', src='../../images/products-slide.png')
    .products-slider-control
      .products-slider-control__elem.products-slider-control__elem_left
        img(src='../../images/products-slider-left.png')
      .products-slider-control__elem.products-slider-control__elem_right
        img(src='../../images/products-slider-right.png')
    img(src='../../images/approximate.png').products-slider-approximate
    .wrap-pagination
      .wrap-pagination__elem
        img(src='../../images/products-slide.png').wrap-pagination-image
      .wrap-pagination__elem
        img(src='../../images/products-slide.png').wrap-pagination-image
      .wrap-pagination__elem
        img(src='../../images/products-slide.png').wrap-pagination-image
      .wrap-pagination__elem
        img(src='../../images/products-slide.png').wrap-pagination-image
