mixin productsCompleteWork
  .products-complete-work
    h3.products-complete-work__headline Выполненные работы
    img(src='../../images/compete-works-mon.png').products-complete-work__img
    p.products-complete-work__text Строительство призводственного цеха финпак на ул. Докучаева 50
