include ../main/main-request-description
include ../main/main-request-pros
include products-slider
include products-request

mixin productsRightBlock
  .products-right-block
    .products-right-block__wrap_slider
      +productsSlider()
      +productsRequest()

    .products-right-block__wrap-buttons
      .products-wrap-button
        +btn('Полное описание', '/', 'button_images', '../../images/btn-burger.png')
      .products-wrap-button
        +btn('Характеристики', '/', 'button_images', '../../images/btn-gears.png')
      .products-wrap-button
        +btn('Видео', '/', 'button_images', '../../images/btn-video.png')

    p.products-right-block__headline Бетонный завод «Вега» предлагает купить бетон марки В7,5 (М100) на гравии.

    .products-right-block__wrap-request
      +requestPros('../../images/hammer.png', 'Класс/прочность')
      +requestPros('../../images/snow.png', 'Морозостойкость')
      +requestPros('../../images/water.png', 'Водонепроницаемость')

    +requestDescription('Описание', ['Материал имеет малый вес, содержит небольшое количество цемента. Рекомендуем его для укладки монолитных плит и фундаментов, а также для монтажа арматуры. Кроме того, этот материал хорош для дорожных работ — установки основ бордюров и заливки бетонных подушек.',
      'Бетон этой марки обеспечит высокую защиту прутьям из стали от коррозии — не даст соприкоснуться сырому песку или земле с металлической поверхностью. Кроме того, он предотвратит вытекание жидкого цемента.',
      'Зимой мы производим бетон с противоморозной добавкой, а также прогреваем воду и инертные материалы, поэтому доставляем на стройку смесь температурой +10-25 °С. С такими характеристиками материал можно выкладывать при морозе до -25°С. А благодаря противоморозной добавке бетон не замерзает и обеспечивает защиту стальной арматуры от коррозии и других воздействий.'])

    +requestDescription('Покупка', ['Вы можете купить бетон B7,5 (М100) на гравии онлайн с доставкой по Перми и Краснокамску. Также предлагаем оформить заявку по контактным телефонам. Свяжитесь с нашим специалистом или закажите обратный звонок на сайте и получите подробную консультацию о характеристиках материала.',
      'Мы указали цену за 1 м3 бетонной смеси при заборе на заводе, доставка оплачивается отдельно. Вы можете получить расчет стоимости вашего заказа с доставкой у менеджера по телефону.',
      'Наш завод поставляет материал в миксерах на 7 и 9 м3, минимальный заказ — от 1 м3. Также мы предлагаем аренду автобетононасоса и стационарного бетононасоса. А глубинный вибратор и дополнительный желоб предоставим совершенно бесплатно.'])

