mixin employeesTextBlock
  .employees-text-block
    p.employees-text-block__text Мы — сеть бетонных заводов. Три производительных бетонных узла марки ELKON, расположены в разны частях города Пермь, это дает нам возможность оперативной поставки бетона в любую его точку. Главной задачей компании является не только прибыль, а производство качественной продукции и внимательный сервис, которые делаю процесс строительства для наших клиентов более простым и комфортным.
    p.employees-text-block__text Для реализации наших замыслов мы постоянно модифицируем рецептуры бетона, увеличиваем и обновляем автопарк для более оперативной доставки, расширяем географию присутствия бетонных узлов, с заботой и вниманием относимся к каждому клиенту, а также предоставляем дополнительные бесплатные услуги. Всё это позволяет нам из года в год завоёвывать доверие всё большего количества строителей в Пермском крае.
    p.employees-text-block__text Также вы всегда можете связаться с нашими менеджерами по мобильным телефонам:
    p.employees-text-block__contact Абрамов Иван, 8-950-44-83-624
    p.employees-text-block__contact Капитонов Александр, 8-965-57-34-598
    p.employees-text-block__contact Печенников Андрей, 8-966-79-21-878
