.employees-person {
  max-width: 311px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid var(--border-person);
  padding-bottom: 40px;

  &__img {
    max-width: 311px;
    width: 100%;
  }
  &__name {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: var(--black);
    margin: 10px 0 10px 29px;
  }
  &__position {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: var(--white-grey);
    margin: 0 0 0 29px;
  }
}

@media (max-width: 768px) {
  .employees-person {
    max-width: 230px;
    padding-bottom: 20.8px;

    &__img {
      width: 100%;
      max-width: 230px;
      height: 334px;
      object-fit: cover;
    }

    &__name {
      font-size: 16px;
      line-height: 120%;
      margin: 10px 0 6px 12px;
    }
    &__position {
      font-size: 14px;
      line-height: 120%;
      margin: 0 0 0 12px;
    }
  }
}

@media (max-width: 500px) {
  .employees-person {
    max-width: 311px;
    padding-bottom: 40px;
    margin: 0 8px 0;
    height: 466px;
    box-sizing: border-box;

    .employees-person__img {
      width: 100%;
      max-width: 311px;
      height: 341px;
    }

    .employees-person__name {
      font-size: 18px;
      line-height: 21px;
      margin: 13px 0 10px 29px;
    }
    .employees-person__position {
      font-size: 14px;
      line-height: 140%;
      margin: 0 0 0 29px;
    }
  }
}
