.employees-text-block {
  &__text,
  &__contact {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--black);
    margin: 0;
  }
  &__text {
    margin-bottom: 22px;
  }
  &__contact {
    margin-bottom: 0;
  }
}

@media (max-width: 500px) {
  .employees-text-block {
    &__text {
      margin-bottom: 23px;
      line-height: 137%;
    }
  }
}

//@media (max-width: 768px) {
//  .employees-text-block {
//
//    &__text {
//      line-height: 145%;
//      margin-bottom: 29px;
//    }
//  }
//}
