.employees-our-team {
  &__headline {
    font-weight: 700;
    font-size: 30px;
    line-height: 140%;
    color: var(--black);
    margin: 44px 0 15px;
  }
  &__text {
    margin: 0 0 75px;
  }
  &__wrap-person {
    max-width: 659px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__line {
    border: 1px solid var(--line);
    width: 100%;
    display: inline-block;
    margin: 49px 0 64px;
  }

}

@media (max-width: 768px) {
  .employees-our-team {
    &__wrap-person {
      justify-content: left;
    }
    &__line {
      margin: 44px 0 15px;
    }
  }
}

@media (max-width: 500px) {
  .employees-our-team {
    &__wrap-person {
      justify-content: center;
      flex-wrap: wrap;
    }
    &__headline {
      margin:  24px 0 15px;
    }
    &__text {
      margin: 0 0 43px;
    }
  }
}
