.employees-main {
  padding-bottom: 132px;

  &__headline {
    width: 100%;
    max-width: 1356px;
    margin: 0 auto 63px;
    padding: 0 16px;
    font-size: 34px;
  }
}

.employees-wrap-navigation {
  max-width: 1356px;
  margin: 55px auto 15px;
  padding: 0 16px;
}

.wrap-employees-blocks {
  padding: 0 16px 0;
  display: flex;
  margin: 0 auto;
  max-width: 1355px;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .employees-main {
    padding-bottom: 135px;
    &__headline {
      margin: 0 auto 56px;
    }
  }
  .employees-wrap-navigation {
    margin: 45px auto 15px;
  }
}

@media (max-width: 500px) {
  .employees-wrap-navigation {
    margin: 18px auto 15px;
  }
  .employees-main {
    padding-bottom: 100px;
    &__headline {
      //width: 100%;
      //max-width: 1356px;
      margin: 0 auto 15px;
      //padding: 0 16px;
      //font-size: 34px;
    }
  }
}
