include ../ui/concreteView

mixin concreteTypes
  .concrete-types
    h2.concrete-types__quote Бетонный завод «Вега» — доставка бетона в Перми
    p.concrete-types__description Ежегодно поставляем бетон и оказываем услуги бетононасосов в разных населённых пунктах Пермского края. На фундаментах из нашего бетона стоит множество коттеджей, магазинов, промышленных предприятий и прочих строений. Ежедневно создаём репутацию такой компании, с которой людям приятно иметь дело и рекомендовать другим.
    h2.concrete-types__header Бетон в наличии
    .concrete-view-wrap
      +concreteView('../../images/concrete-view.png', 'на гравии', '/')
      +concreteView('../../images/concrete-view.png', 'на гравии', '/')
      +concreteView('../../images/concrete-view.png', 'на гравии', '/')
