include ../components/contactsContact
include ../components/contactsMap

mixin contactsOur
  -
    let ourContacts = [{headline: 'Бетонный завод в Перми', address: 'ул. Шоссе Космонавтов, 320Б р-н Metro Cash and Carry', phone: '+7 (342) 271-04-08 +7-950-44-83-624', time: '08:00 - 22:00'},
      {headline: 'Бетонный завод в Перми', address: 'ул. Шоссе Космонавтов, 320Б р-н Metro Cash and Carry', phone: '+7 (342) 271-04-08 +7-950-44-83-624', time: '08:00 - 22:00'},
      {headline: 'Бетонный завод в Перми', address: 'ул. Шоссе Космонавтов, 320Б р-н Metro Cash and Carry', phone: '+7 (342) 271-04-08 +7-950-44-83-624', time: '08:00 - 22:00'},
      {headline: 'Бетонный завод в Перми', address: 'ул. Шоссе Космонавтов, 320Б р-н Metro Cash and Carry', phone: '+7 (342) 271-04-08 +7-950-44-83-624', time: '08:00 - 22:00'}]
  .contacts-our
    h2.contacts-our__headline Наши контакты
    +contactsMap()
    +contactsContact(ourContacts)
