mixin delivery
  .wrap-delivery
    .delivery
      p.delivery__header География поставок
      .wrap-point
        img(class='delivery__point', src='../../images/open-point.png')
        img(class='delivery__arrow', src='../../images/open-arrow.png')
    //iframe(class='delivery__card',src="https://yandex.ru/map-widget/v1/?um=constructor%3A9e75253ec66aad2a012727a1775a953d0c55cc0034e9082c4853147511f1096b&amp;source=constructor", frameborder="0")
  //<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A9e75253ec66aad2a012727a1775a953d0c55cc0034e9082c4853147511f1096b&amp;source=constructor" width="973" height="240" frameborder="0"></iframe>
