include menu-footer
include ../ui/phone
include ../ui/email
include ../ui/social


mixin footerTop
  -
    let elemMenuLeft = ['Компания', 'Видеоблог', 'Выполненные проекты', 'Бетон']
    let elemMenuRight = ['Аренда бетононасосов', 'Лаборатория', 'Отзывы', 'Контакты']

  .footer-top
    .wrap-top-blocks
      .wrap-logo-text
        img(class='wrap-logo-text__image',src='../../images/logo-small.png')
        p.wrap-logo-text__description Бетонный завод «Вега» — производитель высококачественной бетонной смеси. Мы доставляем бетон различных марок по всей территории Перми и Пермского края. Поставка бетона осуществляется собственным автопарком предприятия.
      .wrap-menus-social
        .wrap-menus
          +menuFooter(elemMenuLeft)
          +menuFooter(elemMenuRight)
        .wrap-email-social
          +email('../../images/email-white.png', 'vegabeton@mail.ru', 'email_white')
          p.wrap-email-social__quite Подписаться:
          +social()
    .phones
      +phone('+7 (342) 203-07-88', 'Завод у Чусовского моста', 'phone_white')
      +phone('+7 (342) 203-07-88', 'Завод у Чусовского моста', 'phone_white')
      +phone('+7 (342) 203-07-88', 'Завод у Чусовского моста', 'phone_white')
      +phone('+7 (342) 203-07-88', 'Завод у Чусовского моста', 'phone_white')
