include ../ui/phone
include ../ui/logo
include ../ui/social
include ../ui/button
include ../ui/menu


mixin header(elemMenu)
  header.header
    .header__top
      .phones
        +phone('../../images/phone-blue.png', '+7 (342) 203-07-88', 'Завод у Чусовского моста')
        +phone('../../images/phone-blue.png', '+7 (342) 203-07-88', 'Завод у Чусовского моста')
        +phone('../../images/phone-blue.png', '+7 (342) 203-07-88', 'Завод у Чусовского моста')
        +phone('../../images/phone-blue.png', '+7 (342) 203-07-88', 'Завод у Чусовского моста')
    .header__middle
      .wrap-logo
        +logo
      .wrap-social-button
        +social()
        .wrap-buttons
          .wrap-button
            +btn('Заказать звонок', '/', 'button_blue')
          .wrap-button
            +btn('Прайс-лист', '/', 'button_rainbow')
    .header__bottom
      +menu(elemMenu)
