include ../ui/phone
include ../ui/logo
include ../ui/social
include ../ui/button
include ../ui/menu
include ../ui/menu-mobile

mixin header(elemMenu)
  header.header
    .header__top
      .phones
        +phone('+7 (342) 203-06-88', 'г.Пермь, ул. Ш. Космонавтов', 'phone_blue')
        +phone('+7 (342) 203-05-90', 'г.Пермь, ул. Героев Хасана', 'phone_blue')
        +phone('+7 (342) 271-04-08', 'г. Краснокамск', 'phone_blue')
        +phone('+7 (342) 203-07-88', 'Завод у Чусовского моста', 'phone_blue')
        .phones__button
          +btn('Скачать прайс-лист', '/', 'button_blue')
    .header__middle
      .mobile-menu
        img(src='../../images/menu-burger.png')
      .wrap-logo
        .wrap-logo__big-logo
          +logo('../../images/logo.png')
        //.wrap-logo__mobile-logo
          +logo('../../images/logo-mob.png')
      .wrap-social-button
        +social()
        .wrap-buttons
          .wrap-button_call
            +btn('Заказать звонок', '/', 'button_blue')
          .wrap-button_price
            +btn('Прайс-лист', '/', 'button_rainbow')
    .header__bottom
      // +menu(elemMenu)
    +menuMobile(
      ['Компания', 'Видеоблог', 'Выполненные проекты', 'Бетон', 'Аренда бетононасоса', 'Лаборатория', 'Отзывы', 'Контакты'],
      [{name: 'Завод в Перми', phone: '+7 (342) 203-06-88'}, {name: 'Завод в Краснокамске', phone: '+7 (342) 271-04-08'}, {name: 'Завод у Чусовского моста', phone: '+7 (342) 203-07-88'}])
