include informationSlider

mixin mainSlaider
  .main-slider
    //img(class='swiper-button swiper-button-prev', src='../../images/arrow-works-left.png')
    .swiper-wrapper
      .swiper-slide
        img(class='swiper-slide__image', src='../../images/main-slider-1.png')
        +informationSlider()
      .swiper-slide
        img(class='swiper-slide__image', src='../../images/main-slider-1.png')
        +informationSlider()
      .swiper-slide
        img(class='swiper-slide__image', src='../../images/main-slider-1.png')
        +informationSlider()
      .swiper-slide
        img(class='swiper-slide__image', src='../../images/main-slider-1.png')
        +informationSlider()
    .swiper-pagination
    .control-slider
      .control-slider__wrap-prev.control-slider__arrow_slider__arrow_left.control-slider__arrow_left
        //img(class='control-slider__arrow control-slider__arrow_slider__arrow_left', src='../../images/arrow-works-left.png')
        <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="16.5" cy="16.5" r="16" fill="white" stroke="white"/>
          <path d="M15.0018 23.0292C14.7681 23.0297 14.5417 22.9483 14.3618 22.7992C14.2605 22.7153 14.1768 22.6122 14.1154 22.4958C14.0541 22.3795 14.0163 22.2522 14.0042 22.1212C13.9921 21.9902 14.006 21.8582 14.0451 21.7326C14.0841 21.607 14.1476 21.4903 14.2318 21.3892L18.7118 16.0292L14.3918 10.6592C14.3087 10.5569 14.2467 10.4393 14.2092 10.3129C14.1718 10.1866 14.1597 10.0541 14.1736 9.92305C14.1876 9.79203 14.2273 9.66504 14.2905 9.54941C14.3536 9.43377 14.439 9.33176 14.5418 9.24924C14.6452 9.1582 14.7664 9.08953 14.8977 9.04754C15.0289 9.00556 15.1674 8.99115 15.3045 9.00524C15.4416 9.01932 15.5743 9.06159 15.6943 9.12939C15.8143 9.19719 15.919 9.28906 16.0018 9.39924L20.8318 15.3992C20.9788 15.5782 21.0592 15.8026 21.0592 16.0342C21.0592 16.2659 20.9788 16.4903 20.8318 16.6692L15.8318 22.6692C15.7314 22.7903 15.604 22.8859 15.4598 22.9485C15.3156 23.011 15.1587 23.0387 15.0018 23.0292Z" fill="black"/>
        </svg>
      .control-slider__wrap-next.control-slider__arrow_slider__arrow_right.control-slider__arrow_right
        //img(class='control-slider__arrow control-slider__arrow_slider__arrow_right', src='../../images/arrow-works-right.png')
        <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="16.5" cy="16.5" r="16" fill="white" stroke="white"/>
          <path d="M15.0018 23.0292C14.7681 23.0297 14.5417 22.9483 14.3618 22.7992C14.2605 22.7153 14.1768 22.6122 14.1154 22.4958C14.0541 22.3795 14.0163 22.2522 14.0042 22.1212C13.9921 21.9902 14.006 21.8582 14.0451 21.7326C14.0841 21.607 14.1476 21.4903 14.2318 21.3892L18.7118 16.0292L14.3918 10.6592C14.3087 10.5569 14.2467 10.4393 14.2092 10.3129C14.1718 10.1866 14.1597 10.0541 14.1736 9.92305C14.1876 9.79203 14.2273 9.66504 14.2905 9.54941C14.3536 9.43377 14.439 9.33176 14.5418 9.24924C14.6452 9.1582 14.7664 9.08953 14.8977 9.04754C15.0289 9.00556 15.1674 8.99115 15.3045 9.00524C15.4416 9.01932 15.5743 9.06159 15.6943 9.12939C15.8143 9.19719 15.919 9.28906 16.0018 9.39924L20.8318 15.3992C20.9788 15.5782 21.0592 15.8026 21.0592 16.0342C21.0592 16.2659 20.9788 16.4903 20.8318 16.6692L15.8318 22.6692C15.7314 22.7903 15.604 22.8859 15.4598 22.9485C15.3156 23.011 15.1587 23.0387 15.0018 23.0292Z" fill="black"/>
        </svg>
