mixin navigation(elem)
  .navigation
    a(href='/').navigation__elem Главная
    span.navigation__trait /
    a(href='/').navigation__elem Бетон
    span.navigation__trait /
    a(href='/').navigation__elem Бетон на гравии

//.wrap-navigation each el in elem
