include ../components/menu-products
include ../components/productsCompleteWork
include ../components/productsPoster

mixin productsLeftBlock
  - let elem = ['Бетон на гравии', 'Бетон на щебне', 'Мелкозернистый бетон', 'Строительный (кладочный) раствор ПЗ', 'Морозостойкий бетон'];
  .products-left-block

    +menuProducts(elem)

    +productsCompleteWork()

    +productsPoster()
//Главная / Бетон / Бетон на гравии
