mixin productsPoster
  .products-poster(style='background: url("../../images/news-1.png") no-repeat;')
    h3.products-poster__headline Способы удешевления бетона
    a(href='/').products-poster__href Подробнее
