.contacts-question {
  &__headline {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    margin: 50px 0 21px;
    color: var(--black);
  }

  &__wrap-email {
    margin-top: 35px;
  }
}

.contacts-wrap-phone {
  margin-bottom: 16px;
  &:last-child {
    margin-bottom: 0;
  }
}


@media (max-width: 768px) {
  .contacts-question {
    &__headline {
      margin: 55px 0 21px;
    }
  }
}

@media (max-width: 360px) {
  .contacts-question {
    &__headline {
      margin: 27px 0 21px;
    }
  }
}
