.contacts-question {
  &__headline {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    margin: 50px 0 21px;
    color: var(--black);
  }

  &__wrap-email {
    margin-top: 35px;
  }
}

.contacts-wrap-phone {
  margin-bottom: 15px;
  &:last-child {
    margin-bottom: 0;
  }
}
