.contacts-contact-elem {
  margin-right: 41px;
  &:last-child {
    margin-right: 0;
  }
  max-width: 248px;
  &__headline {
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    margin: 0 0 4px;
    color: var(--blue-white);
    white-space: nowrap;
  }
  &__address {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: var(--black-grey);
    margin: 0 0 8px;
    max-width: 200px;
  }
  &__phone {
    font-size: 14px;
    line-height: 140%;
    margin: 0 0 28px;
    color: var(--blue-white);
    max-width: 158px;
  }
  &__time {
    margin: 0;
    font-size: 14px;
    line-height: 140%;
  }
  &__text-bold {
    font-weight: 700;
    color: var(--black-grey);
  }
}

@media (max-width: 1094px) {
  .contacts-contact-elem {
    margin-right: 0;
    width: 40%;

    &:nth-child(odd) {
      margin-right: 5px;
    }
    &:first-child {
      margin-bottom: 90px;
    }
  }
}

@media (max-width: 630px) {
  .contacts-contact-elem {
    width: 100%;
    margin-bottom: 50px;
    &:first-child {
      margin-bottom: 50px;
    }
  }
}
