include ../components/header/header-contacts
include ../components/footer/footer-contacts
include ../components/navigation
include ../components/contacts/contacts-question
include ../components/contacts/contacts-map
include ../components/contacts/contacts-our
include ../components/contacts/contacts-form


doctype html
html(lang="en")

head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  title Employees

body
- let elemMenu = ['Компания', 'Видеоблог', 'Выполненные проекты', 'Бетон', 'Аренда бетононасоса', 'Лаборатория', 'Отзывы', 'Контакты']

+headerContacts(elemMenu)

+menu(elemMenu)

main.contacts-main

  .contacts-container
    .contacts-wrap-navigation
      +navigation

    +contactsQuestion()

    +contactsOur()

    +contactsForm()

+footerContacts()
