include ../components/header
include ../components/concreteTypes
include ../components/video
include ../components/news
include ../components/delivery
include ../components/footer


doctype html
html(lang="en")

head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  title Document

body
- let elemMenu = ['Компания', 'Видеоблог', 'Выполненные проекты', 'Бетон', 'Аренда бетононасоса', 'Лаборатория', 'Отзывы', 'Контакты']

  +header(elemMenu)

  main
    +concreteTypes()

    +video()

    +news()

    +delivery()

    +footer()
  //include ui-kit.pug


  //include ../components/header.pug
  //
  //.swiper-container
  //	.swiper-wrapper
  //		.swiper-slide
  //			img(src="./images/jaba.png")
  //		.swiper-slide
  //			img(src="./images/jaba.png")
  //		.swiper-slide
  //			img(src="./images/jaba.png")
  //		.swiper-slide
  //			img(src="./images/jaba.png")
