include ../components/header
include ../components/concreteTypes
include ../components/video
include ../components/completedWorks
include ../components/news
include ../components/delivery
include ../components/map
include ../components/footer
include ../components/mainSlaider
//include ../../js/script.js


doctype html
html(lang="en")

head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  title Document

body
- let elemMenu = ['Компания', 'Видеоблог', 'Выполненные проекты', 'Бетон', 'Аренда бетононасоса', 'Лаборатория', 'Отзывы', 'Контакты']

  +header(elemMenu)

  main
    +menu(elemMenu)
    +mainSlaider()

    +concreteTypes()

    +video()

    +news()

    +completedWorks()

    +delivery()

    +map()

    +footer()

  script
    include ../../js/script.js
  //script(type="module")
    //include ../../js/slider.js
  //script(src='../../js/script.js') <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  //include '../../js/script.js'
  //script(src='../../js/script.js')
  //script(type="text/javascript", src='../../js/script.js')

  //include ui-kit.pug

