//title UI-kit
include ../ui/completed-works-elem
include ../ui/button
include ../ui/phone
include ../ui/concrete-view
include ../ui/social
include ../ui/menu/menu
include ../ui/menu/menu-mobile
include ../ui/email
include ../ui/input
include ../ui/news-elem
include ../components/header/header
include ../components/products/products-slider
include ../components/products/products-request

- let elemMenu = ['Компания', 'Видеоблог', 'Выполненные проекты', 'Бетон', 'Аренда бетононасоса', 'Лаборатория', 'Отзывы', 'Контакты']
- let phones = [{name: 'Завод в Перми', phone: '+7 (342) 203-06-88'}, {name: 'Завод в Краснокамске', phone: '+7 (342) 271-04-08'}, {name: 'Завод у Чусовского моста', phone: '+7 (342) 203-07-88'}]


.wrap-buttons
  .wrap-button
    +btn('Кнопка', null)
  .wrap-button
    +btn('Ссылка', '/')

+inputElem('text', 'Например, Иван Иванов', 'name')

+social

+email('vegabeton@mail.ru', 'email__black')
+menu(elemMenu)
+menuMobile(elemMenu, phones)
+completedWorksElem('../../images/compete-works-mon.png', 'Поставка бетона для Пермского Успенского женского монастыря ул. Плеханова 39')

.wrapPhone
  +phone('../../images/phone-black.png', '+7 (342) 203-07-88', 'Завод у Чусовского моста')

+concreteView('../../images/concrete-view.png', 'на гравии', '/')

+newsElem('02.11.2020', 'Александр Капитонов, директор ООО «Сеть \n' +
'бетонных заводов ВЕГА», рассказал об опыте работы \n' +
'с AKKERMANN cement', '../../images/news-1.png')


.ui-wrap-products-slider
  .products-right-block
    .products-right-block__wrap_slider
      +productsSlider()
      +productsRequest()
