//title UI-kit
include ../ui/completedWorksElem
include ../ui/button
include ../ui/phone
include ../ui/concreteView
include ../ui/social
include ../ui/menu
include ../ui/menu-mobile
include ../ui/email
include ../ui/input
include ../ui/newsElem
include ../components/header.pug
- let elemMenu = ['Компания', 'Видеоблог', 'Выполненные проекты', 'Бетон', 'Аренда бетононасоса', 'Лаборатория', 'Отзывы', 'Контакты']
- let phones = [{name: 'Завод в Перми', phone: '+7 (342) 203-06-88'}, {name: 'Завод в Краснокамске', phone: '+7 (342) 271-04-08'}, {name: 'Завод у Чусовского моста', phone: '+7 (342) 203-07-88'}]


.wrap-buttons
  .wrap-button
    +btn('Кнопка', null)
  .wrap-button
    +btn('Ссылка', '/')

+inputElem('text', 'Например, Иван Иванов', 'name')

+social

+email('../../images/email.png', 'vegabeton@mail.ru')
+menu(elemMenu)
+menuMobile(elemMenu, phones)
+completedWorksElem('../../images/compete-works-mon.png', 'Поставка бетона для Пермского Успенского женского монастыря ул. Плеханова 39')

.wrapPhone
  +phone('../../images/phone-black.png', '+7 (342) 203-07-88', 'Завод у Чусовского моста')

+concreteView('../../images/concrete-view.png', 'на гравии', '/')

+newsElem('02.11.2020', 'Александр Капитонов, директор ООО «Сеть \n' +
'бетонных заводов ВЕГА», рассказал об опыте работы \n' +
'с AKKERMANN cement', '../../images/news-1.png')
