.footer-top {
  padding: 50px 10px 30px;
  //display: grid;
  //grid-template-rows: 188px 40px;
  //grid-gap-row: 68px 0;
}

.wrap-top-blocks {
  //display: grid;
  //grid-template-columns: auto auto auto;
  //column-gap: 50px;
  display: flex;
  justify-content: space-between;
  max-width: 1250px;
  //width: 100%;
  margin: 0 auto 68px;
  padding: 0 16px;
}

.wrap-logo-text {
  margin-left: 8px;
  .wrap-logo-text__image {
    margin-bottom: 25px;
  }
  .wrap-logo-text__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: var(--white);
    max-width: 326px;
    margin: 0 0 0 2px;
  }
}

.wrap-menus-social {
  //display: grid;
  //grid-template-columns: auto auto;
  //grid-template-rows: 200px;
  max-width: 801px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.wrap-menus {
  //display: grid;
  //grid-template-columns: auto auto;
  //grid-template-rows: 200px;
  max-width: 539px;
  //display: flex;
  //justify-content: space-between;
  //width: 100%;
}

.wrap-email-social {
  .wrap-email-social__quite {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: var(--white);
    margin: 33px 0 17px 8px;
  }
  .wrap-email-social__social {
    margin-left: 8px;
  }
}


@media (max-width: 768px) {
  //.wrap-footer-top {
  //  padding: 50px 24px 32px 11px;
  //}

  .wrap-logo-text {
    display: none;
  }

  .wrap-email-social {
    .wrap-email-social__email {
      display: flex;
      justify-content: right;
    }
    .wrap-email-social__quite {
      font-size: 16px;
      margin-top: 33px;
    }
  }

  .phones {
    //display: grid;
    //grid-column-gap: auto auto auto auto;
    display: flex;
    flex-wrap: wrap;
    min-height: 111px;
    height: 100%;
    align-content: space-between;
    padding:0 35px 0 5px;
    //padding: 0 5px;
    //max-width: 1250px;
  }

  .wrap-menus {
    max-width: 570px;
    margin-right: 0px;
  }

  .wrap-top-blocks {
    display: flex;
    justify-content: space-between;
    max-width: 1250px;
    margin: 0 auto 62px;
    padding: 0;
  }
}

@media (max-width: 568px) {

  .wrap-menus-social {
    flex-direction: column;
  }
  .wrap-menus {
    flex-direction: column;
    margin-bottom: 18px;
  }
}

@media (max-width: 460px) {
  .phones {
    & > .phone_white {
      margin-bottom: 25px;
    }
    & > *:last-child {
      margin: 0;
    }
  }

  .wrap-top-blocks {
    margin: 0 0 40px;
  }
}

//@media (max-width: 360px) {
//  .wrap-footer-top {
//    padding: 30px 24px 25px 16px;
//  }
//}
