.container-footer-bottom {
  background: var(--footer-bottom);
}

.footer-bottom-contacts {
  display: flex;
  padding: 27px 10px 24px 0;
  align-items: center;
  justify-content: start;
  max-width: 1270px;
  margin: 0 auto;
  box-sizing: border-box;

  &__name {
    font-weight: 400;
    font-size: 14px;
    opacity: 0.6;
    color: #CDCFD0;
    margin: 5px 12px 0 0;
  }
  &__amado {
    height: 30.25px;
  }
}

@media (max-width: 768px) {
  .footer-bottom-contacts {
    justify-content: end;
  }
}

@media (max-width: 360px) {
  .footer-bottom-contacts  {
    padding: 10px 16px 10px 0;
  }
}
