.contaiter {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
}

.wrap-completed-works {
  background: var(--black);
  padding: 100px 16px;
}

.completed-works {
  //max-width: 1380px;
  width: 100%;
  margin: 0 auto;
}

.header-works {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1250px;
  width: 100%;
  margin: 0 auto 71px;
  .header-works__headline {
    font-weight: 700;
    font-size: 34px;
    line-height: 120%;
    color: var(--white);
    margin: 0;
  }
}

.swiper-container {
  //max-width: 1250px; //1375
  //width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
  //overflow: hidden;
  padding: 0 55px;
  overflow: hidden;
  //width: 500px;
  //padding: 0 50px;
  //margin: 0 50px;
}

.swiper-wrapper {
  display: flex;
  //width: 1250px;
  //overflow: hidden;
  max-width: 1250px;
  width: 100%;
  //width: 5000px;
}

.slider {
  max-width: 1350px;
  margin: 0 auto;
  width: 100%;
  //padding: 0 50px;
}

.swiper-button-prev {
  margin-right: 31px;
  left: 0; //left: -64px;
  fill: red;
  stroke: white;
}
.swiper-button-next {
  margin-left: 28px;
  right: 0;
  //background: var(--black);
}

.swiper-button {
  height: 33px;
  z-index: 3;
  cursor: pointer;
  position: absolute;
}

.wrap-completed-btn {
  display: none;
}

@media (max-width: 768px) {
  .slider {
    //width: 616px;
  }
}

@media (max-width: 600px) {
  .wrap-completed-works {
    padding: 50px 16px;
  }

  .header-works {

    .header-works__headline {
      font-size: 24px;
      margin: 0;
    }

    .btn {
      display: none;
    }
  }
  .wrap-completed-btn {
    max-width: 190px;
    width: 100%;
    display: flex;
    //margin-top: 30px;
    margin: 30px auto 0px;
    //justify-content: center;
  }
}
