.contacts-contact-elem {
  margin-right: 41px;
  &:last-child {
    margin-right: 0;
  }
  .contacts-contact-elem__headline {
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    margin: 0 0 4px;
    color: var(--blue-white);
  }
  .contacts-contact-elem__address {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: var(--black-grey);
    margin: 0 0 8px;
  }
  .contacts-contact-elem__phone {
    font-size: 14px;
    line-height: 140%;
    margin: 0 0 26px;
    color: var(--blue-white);
  }
  .contacts-contact-elem__time {
    margin: 0;
    font-size: 14px;
    line-height: 140%;
  }
  .contacts-contact-elem__text-bold {
    font-weight: 700;
    color: var(--black-grey);
  }
}
