.wrap-footer-top {
  background: var(--black);
  padding: 71px 0 90px;
}

.footer-top {

}

.wrap-top-blocks {
  display: flex;
  justify-content: space-between;
  max-width: 1250px;
  margin: 0 auto 66px;
}

.wrap-logo-text {
  .wrap-logo-text__image {
    margin-bottom: 27px;
  }
  .wrap-logo-text__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: var(--white);
    max-width: 326px;
    margin: 0;
  }
}

.wrap-menus-social {
  max-width: 801px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.wrap-menus {
  max-width: 531px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.wrap-email-social {
  .wrap-email-social__quite {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: var(--white);
    margin: 32px 0 15px;
  }
}


@media (max-width: 768px) {
  .wrap-footer-top {
    padding: 50px 24px 32px 19px;
  }

  .wrap-logo-text {
    display: none;
  }

  .wrap-email-social {
    .wrap-email-social__quite {
      font-size: 16px;
      margin-top: 30px;
    }
  }

  .phones {
    display: flex;
    flex-wrap: wrap;
    min-height: 113px;
    height: 100%;
    align-content: space-between;
  }

  .wrap-menus {
    max-width: 426px;
    margin-right: 15px;
  }
}

@media (max-width: 568px) {

  .wrap-menus-social {
    flex-direction: column;
  }
  .wrap-menus {
    flex-direction: column;
    margin-bottom: 18px;
  }
}

@media (max-width: 460px) {
  .phones {
    & > .phone_white {
      margin-bottom: 25px;
    }
    & > *:last-child {
      margin: 0;
    }
  }

  .wrap-top-blocks {
    margin: 0 0 40px;
  }
}

@media (max-width: 360px) {
  .wrap-footer-top {
    padding: 30px 24px 25px 16px;
  }
}
