.wrap-navigation {
  max-width: 1034px;
  margin: 39px auto 48px;
  padding-left: 16px;
}

.navigation {
  display: flex;
  .navigation__elem {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    text-decoration: none;
    color: var(--fifty-five);
  }
  .navigation__trait {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: var(--fifty-five);
    padding: 0 5px;
    display: inline-block;
    margin: 0;
  }
}

@media (max-width: 670px)  {
  .wrap-navigation {
    display: none;
  }
}
