.news {
  //max-width: 1250px;
  width: 100%;
  //margin: 0 auto;
  padding: 90px 0;
  height: 100%;

  .news__header {
    font-weight: 700;
    font-size: 34px;
    line-height: 120%;
    margin: 0;
    color: var(--black);
  }

  .news__wrap-btn {
    margin-top: 29px;
    height: 46px;
    width: 190px;
    & > .btn {
      line-height: 46px;
      font-size: 18px;
    }
  }
}

.wrap-header-btn {
  display: flex;
  justify-content: space-between; //29
  margin-bottom: 50px;
}

.wrap-news-elems {
  display: flex;
  max-width: 1250px;
  justify-content: space-between;
  margin: 0;
  width: 100%;
}

.wrap-news-elem {
  display: flex;
  //max-width: 1250px;
  //width: auto;
  width: 100%;
  max-width: 614px;
}

.right-news {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 615px;
  max-width: 50%;
  margin-left: 20px;
}

.news-elem-long {
  max-width: 614px;
  //width: 100%;
}

.bottom-news {
  display: flex;
  justify-content: space-between;

  & > *:first-child {
    margin-right: 24px;
  }
}

.wrap-news-btn {
  display: none;
  justify-content: center;
  margin: 30px auto 0;
  height: 46px;
  width: 190px;
  & > .btn {
    line-height: 46px;
    font-size: 18px;
  }
}


@media (max-width: 992px) {
  .news {
    .news__wrap-btn {
      display: none;
    }
  }
  .wrap-news-elems {
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }
  .wrap-news-elem {
    max-width: 992px;
    width: 100%;
  }
  .right-news {
    height: auto;
    margin: 30px 0 0 0;
    width: 100%;
    max-width: 992px;
  }
  .news-elem-long {
    margin: 0 auto 25px;
    max-width: 1000px;
    width: 100%;
    height: 420px;
  }
  .bottom-news {
    margin: 0 auto;
    max-width: 936px;
    width: 100%;
  }
  .wrap-news-btn {
    display: flex;
  }
  .wrap-header-btn {
    margin-bottom: 46px;
  }
}

@media (max-width: 700px) {
  .news {
    padding: 70px 0px;

    .news__header {
      font-size: 24px;
    }
  }
  .right-news {
    margin-top: 20px;
  }
  .news-elem-long {
    height: 200px;
    margin-bottom: 20px;
  }
  .bottom-news {
    flex-wrap: wrap;//width: 100%;
    & > *:first-child {
      margin: 0 0 20px 0;
    }
  }
  .wrap-header-btn {
    margin-bottom: 19px;
  }
}


@media (max-width: 700px) {
  .news {
    padding: 40px 0px;
  }
}
