@import '../ui/button';
@import '../ui/completedWorksElem';
@import '../ui/phone';
@import '../ui/concreteView';
@import '../ui/social';
@import '../ui/menu';
@import '../ui/menu-mob';
@import '../ui/email';
@import '../ui/inputElem';
@import '../ui/newsElem';
@import '../ui/logo';
@import '../components/main-slider';
@import '../components/concreteTypes';
@import '../components/video';
@import '../components/news';
@import '../components/delivery';
@import '../components/footer-bottom';
@import '../components/footer-top';
@import '../components/menu-footer';
@import '../components/completed-works';
@import '../components/map';

//@import 'swiper/swiper';
//@import '../../../node_modules/swiper/swiper-bundle.css';

.wrap-button {
  max-width: 150px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
}

.wrapPhone {
  max-width: 210px;
}
