@import '../ui/button';
@import '../ui/completedWorksElem';
@import '../ui/phone';
@import '../ui/concreteView';
@import '../ui/social';
@import '../ui/menu';
@import '../ui/menu-mob';
@import '../ui/email';
@import '../ui/inputElem';
@import '../ui/newsElem';
@import '../components/concreteTypes';
@import '../components/video';
@import '../components/news';
@import '../components/delivery';
@import '../components/footer-bottom';
@import '../components/footer-top';


.wrap-button {
  max-width: 600px;
  display: flex;
  justify-content: space-around;
}

.wrapPhone {
  max-width: 210px;
}
