@import '../ui/button';
@import '../ui/completedWorksElem';
@import '../ui/phone';
@import '../ui/concreteView';
@import '../ui/social';
@import '../ui/menu';
@import '../ui/menu-mob';
@import '../ui/email';
@import '../ui/inputElem';
@import '../ui/newsElem';
@import '../ui/logo';
@import '../components/main-slider';
@import '../components/concreteTypes';
@import '../components/video';
@import '../components/news';
@import '../components/delivery';
@import '../components/footer-bottom';
@import '../components/footer-top';
@import '../components/menu-footer';
@import '../components/completed-works';
@import '../components/map';
@import '../components/request-call';
@import '../components/request-description';
@import '../components/products-left-block';
@import '../components/products-right-block';
@import '../components/menu-products';
@import '../components/products-complete-work';
@import '../components/products-poster';
@import '../components/products';
@import '../components/request-pros';
@import '../components/products-slider';
@import '../components/navigation';
@import '../components/products-request';
@import '../components/header-products';
@import '../components/employees-person';
@import '../components/employees-person-group';
@import '../components/employees-text-block';
@import '../components/employees-our-team';
@import '../components/employees-right-block';
@import '../components/employees';
@import '../components/menu-employees';
@import '../components/employees-left-block';
//@import '../components/';
//@import '../components/';
//@import '../components/';
//@import '../components/';
//@import '../components/';
//@import '../components/';


.wrap-button {
  max-width: 150px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
}

.wrapPhone {
  max-width: 210px;
}
