include ../../ui/menu/menu-footer
include ../../ui/phone
include ../../ui/email
include ../../ui/social


mixin footerTop
  - let elemMenu = ['Компания', 'Видеоблог', 'Выполненные проекты', 'Бетон', 'Аренда бетононасосов', 'Лаборатория', 'Отзывы', 'Контакты']
  .footer-top
    .wrap-top-blocks
      .wrap-logo-text
        img(src='../../images/logo-small.png').wrap-logo-text__image
        p.wrap-logo-text__description Бетонный завод «Вега» — производитель высококачественной бетонной смеси. Мы доставляем бетон различных марок по всей территории Перми и Пермского края. Поставка бетона осуществляется собственным автопарком предприятия.
      .wrap-menus-social
        .wrap-menus
          +menuFooter(['Компания', 'Аренда бетононасосов', 'Видеоблог', 'Лаборатория', 'Выполненные проекты', 'Отзывы', 'Бетон', 'Контакты'])
        .wrap-email-social
          .wrap-email-social__email
            +email('vegabeton@mail.ru', 'email_white')
          p.wrap-email-social__quite Подписаться:
          .wrap-email-social__social
            +social()
    .footer-phones
      +phone('+7 (342) 203-07-88', 'г.Пермь, ул. Ш. Космонавтов', 'phone_white')
      +phone('+7 (342) 203-07-88', 'г.Пермь, ул. Героев Хасана', 'phone_white')
      +phone('+7 (342) 203-07-88', 'г. Краснокамск', 'phone_white')
      +phone('+7 (342) 203-07-88', 'Завод у Чусовского моста', 'phone_white')

      //.footer-top
      //  .wrap-top-blocks
      //    .wrap-logo-text
      //      img(class='wrap-logo-text__image',src='../../images/logo-small.png')
      //      p.wrap-logo-text__description Бетонный завод «Вега» — производитель высококачественной бетонной смеси. Мы доставляем бетон различных марок по всей территории Перми и Пермского края. Поставка бетона осуществляется собственным автопарком предприятия.
      //    .wrap-menus-social
      //      .wrap-menus
      //        +menuFooter(['Компания', 'Видеоблог', 'Выполненные проекты', 'Бетон'])
      //        +menuFooter(['Аренда бетононасосов', 'Лаборатория', 'Отзывы', 'Контакты'])
      //      .wrap-email-social
      //        .wrap-email-social__email
      //          +email('vegabeton@mail.ru', 'email_white')
      //        p.wrap-email-social__quite Подписаться:
      //        .wrap-email-social__social
      //          +social()



//grid
      //.footer-top
      //  .wrap-top-blocks
      //    .wrap-logo-text
      //      img(src='../../images/logo-small.png').wrap-logo-text__image
      //      p.wrap-logo-text__description Бетонный завод «Вега» — производитель высококачественной бетонной смеси. Мы доставляем бетон различных марок по всей территории Перми и Пермского края. Поставка бетона осуществляется собственным автопарком предприятия.
      //    //.wrap-menus-social
      //    //.wrap-menus ['Компания', 'Видеоблог', 'Выполненные проекты', 'Бетон', 'Аренда бетононасосов', 'Лаборатория', 'Отзывы', 'Контакты']
      //      +menuFooter(['Компания', 'Видеоблог', 'Выполненные проекты', 'Бетон'])
      //      +menuFooter(['Аренда бетононасосов', 'Лаборатория', 'Отзывы', 'Контакты'])
      //    .wrap-menus
      //      +menuFooter(['Компания', 'Аренда бетононасосов', 'Видеоблог', 'Лаборатория', 'Выполненные проекты', 'Отзывы', 'Бетон', 'Контакты'])
      //    .wrap-email-social
      //      .wrap-email-social__email
      //        +email('vegabeton@mail.ru', 'email_white')
      //      p.wrap-email-social__quite Подписаться:
      //      .wrap-email-social__social
      //        +social()
