mixin footerBottomContacts
  .container-footer-bottom
    .footer-bottom-contacts
      p.footer-bottom-contacts__name Создание сайта
      img(class='footer-bottom__amado', src='../../images/amado.png')
