mixin requestDescription(headline, textArr)
  .request-description
    h3.request-description__headline= headline
    each el in textArr
      p.request-description__text= el


        //p.request-description__text Материал имеет малый вес, содержит небольшое количество цемента. Рекомендуем его для укладки монолитных плит и фундаментов, а также для монтажа арматуры. Кроме того, этот материал хорош для дорожных работ — установки основ бордюров и заливки бетонных подушек.
      // p.request-description__text Бетон этой марки обеспечит высокую защиту прутьям из стали от коррозии — не даст соприкоснуться сырому песку или земле с металлической поверхностью. Кроме того, он предотвратит вытекание жидкого цемента.
       //p.request-description__text Зимой мы производим бетон с противоморозной добавкой, а также прогреваем воду и инертные материалы, поэтому доставляем на стройку смесь температурой +10-25 °С. С такими характеристиками материал можно выкладывать при морозе до -25°С. А благодаря противоморозной добавке бетон не замерзает и обеспечивает защиту стальной арматуры от коррозии и других воздействий.

      
