mixin delivery
  .wrap-delivery
    .delivery
      p.delivery__header География поставок
      .wrap-point
        img(class='delivery__point', src='../../images/open-point.png')
        img(class='delivery__arrow', src='../../images/open-arrow.png')
