mixin informationSlider
  .container_slider
    .wrap-information-slider
      .information-slider
        .information-slider__block
          h3.information-headline Линейный насос в аренду
          .description-slider
            p.description-slider__text-prev До
            h2.description-slider__text-big 150
            p.description-slider__text-next метров — высота подачи бетонной смеси
          p.number-slide
            span.number-slide__coll 04
            span.number-slide__all-coll /05
          .information-slider-back
        .information-slider__wrap-buttons
          .wrap-button-call-slider
            +btn('Подробнее', '/', 'button_blue')
          .wrap-button-all-works-slider
            +btn('Прайс-лист', '/', 'button_works')
