include ../../ui/input

mixin requestCall
  .request-call
    .container
      h2.request-call__headline Заказать звонок
      form(method='POST').wrap-inputs-request
        .wrap-inputs-request__input
          +inputElem('text', 'Например, Иван Иванов', 'name', 'input-elem_black')
        .wrap-inputs-request__input
          +inputElem('phone', 'Например, 79082345678', 'phone', 'input-elem_black')
        .wrap-inputs-request__input
          +inputElem('email', 'Например, mail@mail.ru', 'email', 'input-elem_black')
        .wrap-inputs-request__button
          +btn('Отправить', null, 'button_black-blue')
