mixin map
  .map
    iframe(class='map__card',src="https://yandex.ru/map-widget/v1/?um=constructor%3A9e75253ec66aad2a012727a1775a953d0c55cc0034e9082c4853147511f1096b&amp;source=constructor", frameborder="0")
