.btn {
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

.phones__bth-header {
  display: none;
  width: 100%;
  text-align: center;
}

.button_blue {
  font-size: 16px;
  line-height: 19px;
  padding: 10px 25px;

  color: var(--white);
  background: var(--blue);
}

.button_rainbow {
  font-size: 16px;
  line-height: 19px;
  padding: 10px 25px;
  border: 2px solid red;
  //border: 2px solid linear-gradient(red, blue);
  //border-image-source: linear-gradient(106.07deg, #065DAD -11.65%, #FF0000 101.93%);
  color: var(--blue);
}

.button_works {
  max-width: 190px;
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  border: 2px solid var(--white);
  padding: 11px 0 13px;
  text-align: center;
  color: var(--white);
}

@media (max-width: 768px) {
  .phones__bth-header {
    display: block;
  }
}
