.btn {
  font-size: 16px;
  background: #0754A6;
  color: #FFFFFF;
  outline: none;
  border: none;
  padding: 12px 0 12px 25px;
  text-decoration: none;
  width: 150px;
  margin: 0;
  box-sizing: border-box;
  text-align: left;
}
