.btn {
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  text-align: center;
  cursor: pointer;
  //line-height: 50px;
  display: inline-block;
}

//.phones__bth-header {
//  display: none;
//  width: 100%;
//  text-align: center;
//}

.button_blue {
  font-size: 16px;
  line-height: 40px;
  color: var(--white);
  background: var(--blue);
}

.button_black-blue {
  color: var(--white);
  background: var(--button_black-blue);
}

.button_rainbow {
  font-size: 16px;
  line-height: 19px;
  border: 2px solid red;
  //border: 2px solid transparent;
  //border-image: linear-gradient(to right top, #065DAD, #FF0000); //to right, #065DAD 100%, #FF0000 100%
  //border-image-slice: 2;
  color: var(--blue);
}

.button_works {
  font-size: 18px;
  line-height: 120%;
  border: 2px solid var(--white);
  //padding: 11px 0 13px;
  color: var(--white);
}

.button_images {
  color: var(--white);
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  padding: 15px 26px 16px 54px;
  background: var(--blue);
  position: relative;

  .button_images__image {
    position: absolute;
    top: 35%;
    left: 25px;
  }
}

@media (max-width: 768px) { // тут не должно быть
  .phones__bth-header {
    display: block;
  }
}
