.completed_works_elem {
  display: inline-block;
  width: 303px;
  height: 397px;
  background: var(--blue);
  .completed_works_elem__img {
    height: 225px;
  }

  .completed_works_elem__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: var(--white);
    margin: 15px 0 0 18px;
    display: inline-block;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 768px) {
  .completed_works_elem {
    .completed_works_elem__text {
      margin: 18px 0 0 22px;
    }
  }
}


@media (max-width: 400px) {
  .completed_works_elem {
    height: 342px;
    .completed_works_elem__text {
      margin: 18px 0 0 20px;
      font-weight: 500;
      font-size: 16px;
      line-height: 110%;
    }
  }
}
