.completed-works-elem {
  display: inline-block;
  width: 303px;
  height: 397px;
  background: var(--blue);

  &__img {
    height: 225px;
  }

  &__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: var(--white);
    margin: 15px 0 0 18px;
    display: inline-block;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 768px) {
  .completed-works-elem {
    margin: 0 auto;
    &__text {
      margin: 18px 0 0 22px;
    }
  }
}


@media (max-width: 400px) {
  .completed-works-elem {
    height: 342px;
    //width: auto;
    //padding: 0 auto;
    //margin-left: 20px;
    &__text {
      margin: 18px 0 0 20px;
      font-weight: 500;
      font-size: 16px;
      line-height: 110%;
    }
  }
}
