.wrap-concrete-view {

}
.concrete-view {
  width: 400px;
  height: 269px;
  position: relative;
  display: flex;

  .concrete-view__wrap-text-arrow {
    display: flex;
    height: 110px;
    margin: 130px 0 0 25px;
  }

  .concrete-view__img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 400px;
    height: 269px;
  }

}
.wrap-text {
  > * {
    color: var(--white);
    margin: 0;
    z-index: 3;
    position: relative
  }

  .wrap-text__concrete {
    font-weight: 500;
    font-size: 49px;
    z-index: 6;
  }

  .wrap-text__type {
    font-size: 30px;
  }
}

.arrow {
  position: relative;
  z-index: 2;
  width: 85px;
  height: 15.8px;
  cursor: pointer;
  margin-top: 68px;
  margin-left: 10px;
}
