.concrete-view {
  width: 400px;
  height: 269px;
  display: flex;

  .concrete-view__wrap-text-arrow {
    display: flex;
    height: 110px;
    margin: 130px 0 0 25px;
  }

}
.wrap-text {
  > * {
    color: var(--white);
    margin: 0;
    z-index: 3;
    position: relative
  }

  .wrap-text__concrete {
    font-weight: 500;
    font-size: 49px;
    z-index: 6;
  }

  .wrap-text__type {
    font-size: 30px;
  }
}

.arrow {
  position: relative;
  z-index: 2;
  width: 85px;
  height: 15.8px;
  cursor: pointer;
  margin-top: 68px;
  margin-left: 10px;
}


@media (max-width: 1249px) {
  .concrete-view {
    width: 49%;
    height: 230px;
    &:first-child {
      width: 100%;
      margin-bottom: 26px;
    }

    .concrete-view__wrap-text-arrow {
      margin: 110px 0 0 20px;
    }
  }
}

@media (max-width: 650px) {
  .concrete-view {
    width: 100%;
    margin-bottom: 26px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .wrap-text {

    .wrap-text__concrete {
      font-size: 40px;
    }

    .wrap-text__type {
      font-size: 24px;
    }
  }
  .arrow {
    margin-top: 55px;
  }
}

@media (max-width: 320px) {
  .concrete-view {
    width: 100%;
    height: 165px;
    margin-bottom: 26px;
    &:last-child {
      margin-bottom: 0;
    }
    .concrete-view__wrap-text-arrow {
      margin: 73px 0 0 20px;
    }
  }
  .wrap-text {
    .wrap-text__concrete {
      font-size: 34px;
    }

    .wrap-text__type {
      font-size: 20px;
    }
  }
  .arrow {
    margin-top: 43px;
    margin-left: 55px;
  }
}
