.email {
  display: flex;

  .email__img {
    margin-right: 10px;
    height: 20.55px;
    width: 30px;
  }

  .email__text {
    font-weight: 400;
    font-size: 18px;
    margin: 0;
  }

  &.email_white {
    .email__text {
      color: var(--white);
    }
    .email__img {
      svg {
        * {
          fill: var(--white);
        }
      }
    }
  }
  &.email_black {
    .email__text {
      color: var(--black);
    }
    .email__img {
      svg {
        * {
          fill: var(--black);
        }
      }
    }
  }
}

.email_contacts {
  .email__text {
    font-size: 16px;
    line-height: 120%;
    color: var(--black);
  }
  .email__img {
    width: 22px;
    height: 15.07px;
    margin-right: 15px;
    svg {
      * {
        fill: var(--black);
      }
    }
  }
}

@media (max-width: 768px) {
  .email {
    .email__img {
      width: 26px;
      height: 17.81px;
    }
    .email__text {
      font-size: 16px;
    }
  }
}

