.logo {
  height: 72px;
}

@media (max-width: 768px) {
  .logo {
    align-items: center;
    display: flex;

    &__image {
      width: 139px;
      height: 50.97px;
    }
  }
}

@media (max-width: 480px) {
  .logo {
    height: 45px;

    &__image {
      width: 81.82px;
      height: 30px;
    }
  }
}
