.wrap-menu {
  width: 100%;
  background: var(--blue);

}

.menu {
  max-width: 1242px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 16px;

  .menu__elem {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: var(--white);
    text-decoration: none;
    padding: 19px 0;
  }
}

@media (max-width: 992px) {
  .menu {
    flex-wrap: wrap;
    justify-content: center;
    .menu__elem {
      padding: 10px 30px;
    }
  }
}

