.news-elem {
  max-width: 610px;
  width: auto;
  height: 615px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  cursor: pointer;
}

.news-elem-long {
  width: 614px;
  height: 295px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  cursor: pointer;

  .news-elem__img {
    position: absolute;
    top: 0;
    width: 614px;
    height: 295px;
  }
}

.news-elem-small {
  width: 295px;
  height: 295px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  cursor: pointer;

  .news-elem__img {
    position: absolute;
    top: 0;
    width: 295px;
    height: 295px;
  }
}

.wrap-text-news {
  margin: 0 0 45px 29px;

  .wrap-text-news__date {
    font-weight: 300;
    font-size: 20px;
    padding-bottom: 20px;
    color: var(--white);
    margin: 0;
  }
  .wrap-text-news__text {
    font-weight: 500;
    font-size: 20px;
    color: var(--white);
    line-height: 120%;
    margin: 0;
  }
}
.wrap-news-elem { // у ~900px
  justify-content: center;
  & > * {
    width: 49%;
  }
}

@media (max-width: 992px) {
  .news-elem {
    margin: 0 auto;
    max-width: 936px; //736px
    width: 100%;
  }
}
