.news-elem {
  width: 610px;;
  //max-width: 610px;
  //width: 100%;
  height: 615px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  cursor: pointer;

  .news-elem__img {
    position: absolute;
    top: 0;
    width: 610px;
    height: 615px;
  }
}



.news-elem-long {
  width: 614px;
  //max-width: 614px;
  //width: 100%;
  height: 295px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  cursor: pointer;

  .news-elem__img {
    position: absolute;
    top: 0;
    width: 614px;
    height: 295px;
  }

  .wrap-text {

    .wrap-text__date {
      padding-bottom: 11px;
    }
  }
}


.news-elem-small {
  width: 295px;
  height: 295px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  cursor: pointer;

  .news-elem__img {
    position: absolute;
    top: 0;
    width: 295px;
    height: 295px;
  }
}




.wrap-text {
  margin: 0 0 45px 29px;

  .wrap-text__date {
    font-weight: 300;
    font-size: 20px;
    padding-bottom: 20px;
  }
  .wrap-text__text {
    font-weight: 500;
    font-size: 20px;
  }
}
