.phone {
  display: flex;
  background: none;
  width: auto;
  .phone__icon {
    width: 17.14px;
    height: 18px;
    margin-right: 10px;
    svg {
      * {
        stroke: var(--black);
      }
    }
  }
}

.phone-text-wrap {
  &__number {
    font-size: 14px;
    color: var(--black);
    margin: 0 0 4px 0;
  }

  &__address {
    font-size: 13px;
    color: var(--grey-phone );
    margin: 0;
  }
}

.phone_blue {
  .phone__icon {
    svg {
      * {
        stroke: var(--blue);
      }
    }
  }
}

.phone_black {
  .phone-text-wrap {

    &__number {
      color: var(--black);
    }

    &__address {
      color: var(--grey-phone);
    }
  }

  .phone__icon {
    width: 17.14px;
    height: 18px;
    margin-right: 10px;

    svg {
      * {
        stroke: var(--black);
      }
    }
  }
}

.phone_white {
  .phone-text-wrap {

    &__number {
      color: var(--white);
    }

    &__address {
      color: var(--white);
    }
  }
  .phone__icon {
    width: 17.14px;
    height: 18px;
    margin-right: 10px;

    svg {
      * {
        stroke: var(--blue);
      }
    }
  }
}

.phone_short {
  align-items: center;
  .phone__icon {
    margin-right: 19.86px;
  }

  .phone-text-wrap {
    &__number {
      margin: 0;
      font-size: 16px;
    }
  }
}

.phone_header {
  .phone-text-wrap {
    &__address {
      max-width: 290px;
      width: 100%;
      text-align: left;
    }
  }
}

@media (max-width: 768px) {
  .phone_blue {
    width: 100%;
    background: var(--grey-light);
    margin-bottom: 4px;
    padding: 0 16px 0;
    .phone__icon {
      display: none;
    }
    .phone-text-wrap {
      display: flex;
      justify-content: space-between;
      max-width: 566px;
      width: 100%;
      margin: 0 auto;
      padding: 20px 0 18px 0;
      //&:last-child {
      //
      //}

      &__number {
        margin: 0;
        font-size: 16px;
        color: var(--ocean);
        font-weight: 700;
      }
      &__address {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 440px) {
  .phone_blue {
    .phone-text-wrap {
      padding: 9.5px 0;
      &__number {
        font-size: 12px;
      }

      &__address {
        font-size: 12px;
      }
    }
  }

  .phone_header {
    .phone-text-wrap {
      &__address {
        max-width: 135px;
        width: 100%;
        text-align: left;
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 360px) {
  .phone-text-wrap {
    &__number {
      font-size: 13px;
    }

    &__address {
      font-size: 13px;
    }
  }
}
