.social {
  width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .social__elem {
    width: 30px;
    height: 30px;
    display: flex;
  }
}

@media (max-width: 768px) {
  .social {
    width: 185px;
    justify-content: space-between;

    .social__elem {
      width: 45px;
      height: 45px;
    }
  }
}
