.social {
  width: 120px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .social {
    width: 185px;
    justify-content: space-between;

    .social__elem {
      width: 45px;
      height: 45px;
    }
  }
}
