.social {
  width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__elem {
    width: 30px;
    height: 30px;
    display: flex;

    &:hover {
      opacity: 0.8;
    }
  }
}

@media (max-width: 768px) {
  .social {
    width: 185px;
    justify-content: space-between;

    &__elem {
      width: 45px;
      height: 45px;
    }
  }
}
